html {
  display: table;
  margin: auto;
}
body {
  display: table-cell;
  vertical-align: middle;
  background-color: #15171E;
  color: white;
  padding: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, Oxygen-Sans, Ubuntu, Cantarell,
               "Helvetica Neue", sans-serif;
  max-width: 800px;
}

h1 {
  font-size: 36px;
  font-weight: normal;
}

h1:after {
  content: ' ';
  display: block;
  border: 1px solid #686F8A;
  border-radius: 4px;
}

h2 {
  font-size: 24px;
  font-weight: normal;
}

h2:after {
  content: ' ';
  display: block;
  border: 1px solid #686F8A;
  border-radius: 2px;
}

a {
  color: #99E8FF;
}


blockquote {
  border-left: 5px solid #ccc;
  margin: 10px;
  padding: 5px;
}

code {
  font-family: monospace;
  background: #31364A;
  border-radius: 5px;
  padding: 2px;
}

pre {
  font-family: monospace;
  line-height: 1.5;
  background: #31364A;
  border-radius: 5px;
  border-style: solid;
  border-color: #686F8A;
  border-width: 1px;
  padding: 7px;
  overflow-x: auto;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

table th {
  font-weight: 600;
}

table th,
table td {
  padding: 6px 13px;
  border: 1px solid #30363d;
}

table tr {
  background-color: #0d1117;
  border-top: 1px solid #21262d;
}

table tr:nth-child(2n) {
  background-color: #161b22;
}
